In [1]:
print ("Hello World")

Hello World

In [2]:
#### INPUT Functtion

name = input("What is your name ?")

What is your name ?Dinesh

In [4]:
print ("Wlecome to UpGrad", name)

Wlecome to UpGrad Dinesh

In [6]:
print("               ")
print("      .--.        ")
print("     |o_o |    ")
print("     |:_/ |    ")
print("    //   \\ \\ ")
print("   (|     | )  ")
print("  /'\_   _/`\\ ")
print("  \\___)=(___/ ")

      .--.
     |o_o |
     |:_/ |
    //   \ \
   (|     | )
  /'\_   _/`\
  \___)=(___/

In [7]:
x = 3.5
print(float(int(x)))

3.0

# Variables

In [10]:
var1 = "Dinesh"
print (var1)


var2 = "Meena"
print (var2)

Dinesh
Meena

In [12]:
var3 = 6
var4 = 4.5

In [15]:
print (var1,var2)
print (var3,"Space",var4)

Dinesh Meena
6 Space 4.5

In [17]:
number = input ("what is your favauraite number")
print (number)

what is your favauraite number5
5

In [18]:
name = input ("Eneter your name")
print ("Welcome", name)

Eneter your nameDineshKu
DineshKu

In [20]:
name2 = "Shavi"
print (name2)

Shavi

In [24]:
Name = 4

In [27]:
print (Name, name, name2)

4 DineshKu Shavi

# calculate the age of a person in months.

In [28]:
age = input ("Enter Your Age")
print ("You are" , age*12, "month old")

Enter Your Age31
You are 313131313131313131313131 month old

In [31]:
age = input ("Enter Your Age")
age = int (age)
print ("You are" , age*12, "month old")

Enter Your Age32
You are 384 month old

# How to find the Data Type for a variables in Python

In [33]:
integer_num = 1
floating_num = 1.3
string = 'Mike'
boolean = True

In [34]:
type(integer_num)

int

In [35]:
type(floating_num)

float

In [36]:
type(string)

str

In [37]:
type(boolean)

bool

In [38]:
# Type Casting variable in Python

In [63]:
a = 7

In [64]:
print (bool(a))

True

In [65]:
print (int(a))

7

In [66]:
print (float(a))

7.0

In [67]:
print (float(a))

7.0

In [68]:
print (str(a))

7

In [69]:
x = 3.5
print(float(int(x)))

3.0

In [70]:
name = Varma

print(type(name))

NameError: name 'Varma' is not defined

In [ ]:
# Arithmetic Operations

In [11]:
a = 30
b = 14
print (" Addition of A and B = " , a+b)

 Addition of A and B =  44

In [12]:
print (" Substraction  of A and B = " , a-b)

 Substraction  of A and B =  16

In [13]:
print (" Multiplication  of A and B = " , a*b)

 Multiplication  of A and B =  420

In [14]:
print (" Division  of A and B = " , a/b)

 Division  of A and B =  2.142857142857143

In [15]:
print (" Floor Division  of A and B = " , a//b)

 Floor Division  of A and B =  2

In [18]:
print (" Modulus or Remainder = " , a % b) # 30 = 2*14 +2

 Modulus or Remainder =  2

In [19]:
print (" Exponantial =" , a**b)

 Exponantial = 478296900000000000000

In [20]:
# Complex Operation

print((4 * 5) -9 + 6/7)

11.857142857142858

In [21]:
6/7

0.8571428571428571

In [22]:
 a = 4 + (8 ** 2) - 3 ** 2 % 1

In [23]:
(8 ** 2)

64

In [24]:
4+64 - 3 ** 2 % 1

68

In [25]:
5.5/5

1.1

In [26]:
x = 3
y = 2.5
z = 5
print(X + y / z)

NameError: name 'X' is not defined

In [28]:
4 % (1 + 9)**2 - 60 // (7 + 2)

-2

In [29]:
4 % 10

4

In [30]:
4**2 -60 // 9

10

In [31]:
4 % 10**2 - 60 // 9

-2

# String Operations
#### 90% of the data in the world is in form of text data; as we have seen in the last few segments, python handles text data generally via the string data type; and this makes 'strings'  perhaps one of the most important data types and hence, learning how to work with strings is crucial. In the next set of videos, you will learn about various operations and manipulations applicable to a string.

In [32]:
#Whenever we are assigning a char or string we use '' which represents a character
c = 'z'
d = 'Mike'
#You can also use " " double quotes instead of single quotes for strings
e = "John"

In [33]:
#Now when we want to include words with a single quote such as "didn't", "I'll".. we might end up with a error
print('I didn't know that')

SyntaxError: invalid syntax (3538756740.py, line 2)

In [34]:
#Now when we want to include words with a single quote such as "didn't", "I'll".. we might end up with a error
print("'I didn't know that'")

'I didn't know that'

In [35]:
#Now when we want to include words with a single quote such as "didn't", "I'll".. we might end up with a error
print('I didn\'t know that')

I didn't know that

In [36]:
#Now that '\' escape character which we saw earlier can also be used for other stuff like adding a new line
print("Hi Bob \n\nHow are you?")

Hi Bob

How are you?

In [37]:
print("Hi Dinesh \n\n I am good, \n How about you ?")

Hi Dinesh

 I am good,
 How about you ?

Now apart adding new lines to a string we can also add another to a pre-existing string, let's see how -

###String Concatenation

In [3]:
# Let's try building a system that could ask for flavour, and the type of desert user wants

flavour = input ("What Flavour You Like ?")
destype =  input ("What tupe of dessart you line to Eat at the end of Food ?")

What Flavour You Like ?Jamoon
What tupe of dessart you line to Eat at the end of Food ?Vennila ice with Jamoon

In [4]:
print ("You have enterd", flavour+destype)

You have enterd JamoonVennila ice with Jamoon

In [5]:
#Let's try building a system that could ask for flavour, and the type of desert user wants
flavour=input("What flavour would you like ")
dessert_type=input("What type of dessert would you like ")
print("You have ordered", flavour+"-"+dessert_type)

What flavour would you like Vennila
What type of dessert would you like Ice Creame with Jamoon
You have ordered Vennila-Ice Creame with Jamoon

##String Manipulation

#### Indexing In Strings <br>
- Forward indexing starts with 0
- Reverse indexing starts with the last character as -1 in a python string
- Strings are immutable which, means they cannot be changed once created.
- Strings can be modified by slicing a part of it and concatenating with another

In [80]:
# Len() function
string = "I have not failed. I’ve just found 10,000 ways that won’t work. – Thomas A. Edison"
len(string)

82

In [11]:
# 1st Carector

string[0]

'I'

In [12]:
# 1st Carector

string[5]

'e'

In [13]:
# find last cahrector of string 

string[81]

'n'

In [15]:
# find last cahrector of string using negative indexing
string[-1]

'n'

In [16]:
# find last cahrector of string using negative indexing
string[-5]

'd'

In [17]:
string1 = 'mvqugvqhc2ndoi'

In [18]:
len(string1)

14

In [19]:
string[2] = 't'

TypeError: 'str' object does not support item assignment

In [20]:
print(string)

I have not failed. I’ve just found 10,000 ways that won’t work. – Thomas A. Edison

In [21]:
string1 = input("Enter Firest Name")
string2 = input ("Enter Secont Name")
string3 = input ("Enter your last Name")

Enter Firest NameYASH
Enter Secont NameSHAARWIN
Enter your last NameKUMARA

In [23]:
print(string1+" "+string2+"  "+string3)

YASH SHAARWIN  KUMARA

In [25]:
print(string1+" "+string2+"  "+string3)

YASH SHAARWIN  KUMARA

#### Slicing In Strings
- string[start:end:step]

In [42]:
#slicing by specifying start and end index
statement = "I have not failed. I’ve just found 10,000 ways that won’t work. – Thomas A. Edison"
sliced_statement = statement[0:64]
print(sliced_statement)

I have not failed. I’ve just found 10,000 ways that won’t work.

In [46]:
print(sliced_statement)

I have not failed. I’ve just found 10,000 ways that won’t work.

In [47]:
batch = "5 girls 3 boys in a class"
girls = batch[ :8]
print(girls)

print(batch[ 8: ])

5 girls
3 boys in a class

In [48]:
print(batch[ 8: ])

3 boys in a class

In [49]:
print(batch[ 8: ])

3 boys in a class

In [50]:
print(batch[ 8: ])

3 boys in a class

In [53]:
print(batch[ 8: ])

3 boys in a class

In [54]:
print(girls)

print(batch[ 8: ])

5 girls
3 boys in a class

In [55]:
String = " John! Did you attend the confreance on advanced machine leardning"
print ('Lincoln' in String)

False

In [56]:
print ('Lincoln' in String)

False

In [57]:
print ('behzad' in String)

False

In [58]:
print ('machine' in String)

True

In [72]:
Q = "I love Python programming"
#print ('Python' in Q)
sliceword = Q [-18:-12]
print (sliceword)
len(Q)

Python

25

In [73]:
x = 'len'
x[len(x * 2) - 5]

'e'

In [74]:
len(‘Python’)

SyntaxError: invalid character '‘' (U+2018) (724425218.py, line 1)

In [88]:
x = 'len'
x =  [len (x * 2) -5]
print (x)

[1]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [81]:
len(x)

3

In [86]:
print (x)

[6]

In [89]:
 a = 4 + (8 ** 2) - 3 ** 2 % 1

68

In [ ]:
print(a)

#### String methods
- upper()
- lower()
- strip()
- count(substring,begin,end)
- https://docs.python.org/3.7/library/stdtypes.html#string-methods

In [93]:
#Upper

small = "i am upper cased"
small.upper()

'I AM UPPER CASED'

In [92]:
small.upper()

'I AM UPPER CASED'

In [98]:
#Lower

large = " I AM LOWER CASEDddd"
large.lower()

' i am lower casedddd'

In [99]:
print(large.lower())

 i am lower casedddd

In [102]:
# RStrip () Function Reomve all spaces from RIGHT side string
some_sentence = "There is some space at the end          "
print(some_sentence)

There is some space at the end

In [105]:
print(some_sentence.rstrip())
len(some_sentence)

There is some space at the end

40

In [107]:
# RStrip () Function
some_sentence = "There is some space at the end          aaaaa"
print(some_sentence)
print(some_sentence.rstrip('a'))

There is some space at the end          aaaaa
There is some space at the end

In [111]:
#LStrip Reomve all spaces from Leftside string
spaces = "      Trim whitespaces      "
print(spaces)
print(spaces.lstrip())

      Trim whitespaces
Trim whitespaces

In [125]:
num_with_char = "********444########"
print(num_with_char.lstrip('*'))
print(num_with_char.rstrip('#'))

444########
********444

In [116]:
num_with_char = "********444########"
print(num_with_char.lstrip('*').rstrip('#'))

444

In [122]:
a = "Hello World!"
print(a.split(" "))

['Hello', 'World!']

In [128]:
#String Count

string = 'I love breaking bad'
print (string.count ('a'))
print (string.count ('i',3))

2
1

In [129]:
print (string.count('i',2))

1

In [130]:
# String Format

A = "Data"
B = "Analysis"
C = "Pandas"
print (A,B,C)

Data Analysis Pandas

In [131]:
print (A,B,'using',C)

Data Analysis using Pandas

In [134]:
print("{0} {1} using {2}".format(A,B,C))

Data Analysis using Pandas

In [133]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

# Data Structure in python

In [1]:
#We would ask the user for his name and mobile number
name= input("What's your name ")
number= input("What's your number ")

In [2]:
print(name,number)

Dinesh 777

In [5]:
# randomly assign the value

from random import seed
from random import randint

# generate a three digit random integers for user id
value = randint(100, 999)
print(value)

862

In [7]:
print(name,number,value)
# Last genrated value will print)

Dinesh 777 862

In [8]:
# randomly assign the value

from random import seed
from random import randint

# generate a three digit random integers for user id
value = randint(100, 999)
print(value)

597

In [9]:
print(name,number,value)

Dinesh 777 597

In [10]:
list1 = [name,number,value]

In [11]:
list1

['Dinesh', '777', 597]

In [ ]:
#  List

In [16]:
L = ["India",11,"feb",2024,"Bengaluru"] # Genaral List with value charector and numbers
L

['India', 11, 'feb', 2024, 'Bengaluru']

In [19]:
# NestedList

nestlist = ["DELL EMC OFFICE", " Mahadevapura",[L],[2023,2024],45]
nestlist

['DELL EMC OFFICE',
 ' Mahadevapura',
 [['India', 11, 'feb', 2024, 'Bengaluru']],
 [2023, 2024],
 45]

In [20]:
len(nestlist)

5

In [28]:
nestlist[1]

' Mahadevapura'

In [32]:
nestlist[2]

[['India', 11, 'feb', 2024, 'Bengaluru']]

In [33]:
nestlist[4]

45

In [34]:
nestlist[-1]

45

In [35]:
nestlist

['DELL EMC OFFICE',
 ' Mahadevapura',
 [['India', 11, 'feb', 2024, 'Bengaluru']],
 [2023, 2024],
 45]

In [36]:
nestlist[-1]

45

In [37]:
nestlist[-2]

[2023, 2024]

In [40]:
nestlist[-3]

[['India', 11, 'feb', 2024, 'Bengaluru']]

In [43]:
nestlist[-2]

[2023, 2024]

In [44]:
nestlist[-2][0]

2023

In [47]:
nestlist[-3][1]

IndexError: list index out of range

In [48]:
nestlist[-3][0]

['India', 11, 'feb', 2024, 'Bengaluru']

In [49]:
nestlist

['DELL EMC OFFICE',
 ' Mahadevapura',
 [['India', 11, 'feb', 2024, 'Bengaluru']],
 [2023, 2024],
 45]

In [50]:
nestlist[1:3]

[' Mahadevapura', [['India', 11, 'feb', 2024, 'Bengaluru']]]

In [51]:
nestlist[0:3]

['DELL EMC OFFICE', ' Mahadevapura', [['India', 11, 'feb', 2024, 'Bengaluru']]]

In [53]:
# Indexing example 
L = ["Chemistry", "Biology", [1989, 2004], ("Oreily", "Pearson")]
L[0]

'Chemistry'

In [54]:
# Slicing
L[0:3]

['Chemistry', 'Biology', [1989, 2004]]

In [55]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [57]:
squares[0]

1

In [58]:
squares[-1]

25

In [59]:
squares[-3]

9

In [60]:
squares[-3:]

[9, 16, 25]

In [61]:
squares + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [66]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
4 ** 3  # the cube of 4 is 64, not 65!

64

In [67]:
cubes[3] = 64  # replace the wrong value
cubes

[1, 8, 27, 64, 125]

In [71]:
#Membership in Lists
L
print(L)
L1 = [1,2,3,4,5,6,7,8,9,0]

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [72]:
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [73]:
print(1 in L1)

True

In [74]:
print(11 in L1)

False

In [75]:
# List Concatination

newlist= L1+ [10,11,12]
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10, 11, 12]

In [77]:
print(11 in newlist)

True

In [78]:
L

['Chemistry', 'Biology', [1989, 2004], ('Oreily', 'Pearson')]

In [79]:
# Replacing Values in List
# Replace the "Biology "with "Physics"

L[2]

[1989, 2004]

In [80]:
L[1]

'Biology'

In [81]:
L[1]= "Pshysics"
L

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson')]

#### You can check the members of a list by using the "in" keyword. The membership check operation returns a boolean output. Lists are mutable, which means the elements of a list can be changed. Take a look at the video below:

In [82]:
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [84]:
newlist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 10, 11, 12]

In [85]:
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [86]:
L

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson')]

In [88]:
# extend([])
#List Extend without changing values in exitsing List
L
newL=L+[5,7]
newL

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson'), 5, 7]

In [89]:
L

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson')]

In [90]:
# extend([]) - Add new member as individual eliment list
#List Extend "with" changing values in exitsing List
L.extend([10,30])
L

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson'), 10, 30]

In [92]:
L # List values extened here

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson'), 10, 30]

In [93]:
#append([]) it is similar to extend. it takes the "whole list and as an EXTRA ELIMENT to the LIST"
# extend([]) - Add new member as individual eliment list, But Append Add New list 
L.append ([10.30])
L

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson'), 10, 30, [10.3]]

In [96]:
L.append (25)
L

['Chemistry',
 'Pshysics',
 [1989, 2004],
 ('Oreily', 'Pearson'),
 10,
 30,
 [10.3],
 [125],
 125,
 25]

In [97]:
# delete Command
del L[-1]

In [98]:
L

['Chemistry',
 'Pshysics',
 [1989, 2004],
 ('Oreily', 'Pearson'),
 10,
 30,
 [10.3],
 [125],
 125]

In [99]:
del L[-2]

In [100]:
L

['Chemistry',
 'Pshysics',
 [1989, 2004],
 ('Oreily', 'Pearson'),
 10,
 30,
 [10.3],
 125]

In [101]:
# Pop removes the last eliment in the lsit

L.pop()

125

In [102]:
L

['Chemistry', 'Pshysics', [1989, 2004], ('Oreily', 'Pearson'), 10, 30, [10.3]]

In [103]:
#remove()
L.remove ('Physics')

ValueError: list.remove(x): x not in list

In [104]:
L.remove('Pshysics')

In [105]:
L

['Chemistry', [1989, 2004], ('Oreily', 'Pearson'), 10, 30, [10.3]]

In [106]:
L.pop()

[10.3]

In [107]:
L

['Chemistry', [1989, 2004], ('Oreily', 'Pearson'), 10, 30]

In [108]:
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [109]:
L1 = [1,2,3,4,5,10,9,8,7,6]
L1

[1, 2, 3, 4, 5, 10, 9, 8, 7, 6]

In [110]:
L1.sort() # Assending Order Sorting
L1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
L1.sort(reverse=True)
L1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [112]:
L1

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#Diffreance netween SORT and Sorted

In [115]:
A = ["Orange","Apple","Mango","Pinapple","Dragon Froot"]
A

['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']

In [114]:
A.sort()
A

['Apple', 'Dragon Froot', 'Mango', 'Orange', 'Pinapple']

In [116]:
A

['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']

In [117]:
B = A.sort()
print (A)
print (B)

['Apple', 'Dragon Froot', 'Mango', 'Orange', 'Pinapple']
None

In [118]:
B

In [119]:
A = ["Orange","Apple","Mango","Pinapple","Dragon Froot"]

In [120]:
C = sorted(A)
print(A) 
print(C)

#Sort = write values order in same list
#Sorted = will not change the order, use 3 rd valible will store the sorted values)
#sort(): Sorts the elements of a list in place
#sorted(): Assign the sorted elements to a new list and the original list is left as is.

['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']
['Apple', 'Dragon Froot', 'Mango', 'Orange', 'Pinapple']

In [121]:
list_1 =  [2, 33, 222, 14, 25]
list_1[-5]

2

In [132]:
word = ['1','2','3','4']
word[ : ]
#print(word)

['1', '2', '3', '4']

In [133]:
word = ['1','2','3','4']
word[ : ] = []
#print(word)

In [134]:
word

[]

In [135]:
word = ['1','2','3','4']
word[ : ] = []
print(word)

[]

In [136]:
L = ['one','two','three', 'four', 'five', 'six']

In [137]:
L

['one', 'two', 'three', 'four', 'five', 'six']

In [141]:
print(sorted(L))

['five', 'four', 'one', 'six', 'three', 'two']

In [139]:
print(L)

['one', 'two', 'three', 'four', 'five', 'six']

In [140]:
L = ['one','two','three', 'four', 'five', 'six']
print(sorted(L))
print (L)

['five', 'four', 'one', 'six', 'three', 'two']
['one', 'two', 'three', 'four', 'five', 'six']

# Shadow Copying

In [144]:
#Complete Shdow copy if any value change on D List , same will reflect on it Shadow Copy List E

D = ["Orange","Apple","Mango","Pinapple","Dragon Froot"]
E = D
print( D)
print(E)

['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']
['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']

In [145]:
D[0] = "Pomogranet"
print( D)
print(E)

['Pomogranet', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']
['Pomogranet', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']

In [146]:
# Only Copy the Data NO Shadowing

D = ["Orange","Apple","Mango","Pinapple","Dragon Froot"]
E = D[:]
print( D)
print(E)

['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']
['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']

In [147]:
D[0] = "Pomogranet"
print( D)
print(E)

['Pomogranet', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']
['Orange', 'Apple', 'Mango', 'Pinapple', 'Dragon Froot']

In [148]:
input_list =  [['SAS','R'],['Tableau','SQL'],['Python','Java']]
input_list[2][0]

'Python'

# Tuples

In [149]:
x =(1,2,3)

In [150]:
x[2] = 5

TypeError: 'tuple' object does not support item assignment

In [151]:
x

(1, 2, 3)

In [152]:
x[2] = 5

TypeError: 'tuple' object does not support item assignment

In [173]:
t = ("disco", 12, 4.5)
t

('disco', 12, 4.5)

In [174]:
type(t)

tuple

<h3> Tuples can be defined is various ways </h3>

#### A tuple can be defined without using parenthesis

In [178]:
sample_tuple = 1,2,3,4

print(sample_tuple)

(1, 2, 3, 4)

In [183]:
#### Single value tuple

sample_tuple = 1,  
print(sample_tuple)
type(sample_tuple)

(1,)

tuple

In [184]:
sample_tuple = 1 # This is not a tuple
print(sample_tuple)
type(sample_tuple)

1

int

In [185]:
sample_tuple = (1) #this is not a Tuple
print(sample_tuple)
type(sample_tuple)

1

int

In [189]:
#indexing tuples
t = ("Dinesh",85,"Dell EMC")
print(t)
type(t)

('Dinesh', 85, 'Dell EMC')

tuple

#

In [190]:
t[-1]

'Dell EMC'

In [192]:
t[0]

'Dinesh'

In [ ]:
# slicing in Tuple

In [193]:
t = ("Dinesh", 20,35,"Dell EMC", "Python", "GenAI")
type(t)

tuple

In [194]:
t

('Dinesh', 20, 35, 'Dell EMC', 'Python', 'GenAI')

In [195]:
t [0:0]

()

In [198]:
t [0:1]

('Dinesh',)

In [199]:
t [1]

20

In [200]:
t [0:3]

('Dinesh', 20, 35)

In [201]:
t [1:3]

(20, 35)

In [202]:
t[-2:]

('Python', 'GenAI')

In [203]:
t

('Dinesh', 20, 35, 'Dell EMC', 'Python', 'GenAI')

In [204]:
len(t)

6

###### Concatinating Tuples

In [206]:
tup1 = ("Aventers", "Please", "Asselblle ",2)
tup2 = ("Fight", "With Thanos")
tup3 = tup1+tup2
print(tup3)

('Aventers', 'Please', 'Asselblle ', 2, 'Fight', 'With Thanos')

In [179]:
 t = (1, 2, 4, 3)

In [180]:
print(t[4])

IndexError: tuple index out of range

In [156]:

t[3] = 5

TypeError: 'tuple' object does not support item assignment

In [157]:
print(t[1:-4])

()

In [158]:
print(len(t))

4

In [159]:
x = (Hello,'2','3')

NameError: name 'Hello' is not defined

In [160]:

x = ((1,2,3), 4,5)

In [161]:
x

((1, 2, 3), 4, 5)

In [162]:

x = 1,2,

In [163]:
x

(1, 2)

In [164]:

x = ('2')

In [165]:
x

'2'

In [167]:
type(x)

str

In [168]:
x = 1,2,

In [169]:
type(x)

tuple

In [170]:

x = ((1,2,3), 4,5)

In [171]:
x

((1, 2, 3), 4, 5)

In [172]:
type(x)

tuple

In [213]:
# min() max() sum() of tuples

t =(1,2,3,4,5,10,9,8,7,6,-1,-5)
t

(1, 2, 3, 4, 5, 10, 9, 8, 7, 6, -1, -5)

In [208]:
type(t)

tuple

In [214]:
min(t)

-5

In [210]:
max(t)

10

In [215]:
sum(t)

49

In [219]:
t =(1,2,3,4,5,10,9,8,7,6,-1,-5,)
t

(1, 2, 3, 4, 5, 10, 9, 8, 7, 6, -1, -5)

In [217]:
min(t)

TypeError: '<' not supported between instances of 'str' and 'int'

NameError: name 'sort' is not defined

In [223]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [224]:
t = ("USA", 4,3,"Disco",7.5)
t

('USA', 4, 3, 'Disco', 7.5)

In [225]:
t[3]="Hard Rock"

TypeError: 'tuple' object does not support item assignment

In [226]:
t

('USA', 4, 3, 'Disco', 7.5)

In [227]:
# modify Disco to "Hard Rock"
new_t= t[0:3]
new_t

('USA', 4, 3)

In [230]:
new_t= t[0:3] + ("Hard Rock",) + t[4:]
new_t

('USA', 4, 3, 'Hard Rock', 7.5)

In [234]:
new_t[-2]

'Hard Rock'

In [236]:
t[-2]

'Disco'

In [237]:
#Sorting Tuples
#sort() not available in Tuples
# Only " sorted()" function work on tuples

t=(1,2,3,4,5,10,9,8,7,6,-1,-10,-2)
t

(1, 2, 3, 4, 5, 10, 9, 8, 7, 6, -1, -10, -2)

In [238]:
sorted(t)

[-10, -2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [239]:
t

(1, 2, 3, 4, 5, 10, 9, 8, 7, 6, -1, -10, -2)

In [242]:
x = sorted(t)
y = tuple(x)
print(y)
print(t)

(-10, -2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 10, 9, 8, 7, 6, -1, -10, -2)

In [243]:
y

(-10, -2, -1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [244]:
t

(1, 2, 3, 4, 5, 10, 9, 8, 7, 6, -1, -10, -2)

In [245]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [246]:
#Tuple Nesting
# Immutability is the differentiating property between lists and tuples.
# The elements in a tuple cannot be changed once the tuple is declared. You have to make a new tuple using concatenation if you wish to change a value in a given tuple. 
# You also saw tuples can be sorted just like lists.  Let us now see how to iterate over a tuple in the upcoming video

In [247]:
t1 = (1),5,"Disco",("Python", "JAVA")
t1

(1, 5, 'Disco', ('Python', 'JAVA'))

In [248]:
type(t1)

tuple

In [249]:
t1[3]

('Python', 'JAVA')

In [253]:
t1[3][1]

'JAVA'

In [254]:
t1[3][-2]

'Python'

In [255]:
# Tuples Packing and unpacking

tp = (1,2,3,4) # Packing
tp

(1, 2, 3, 4)

In [256]:
len(tp)

4

In [257]:
(a,b,c,d) = tp # Unpacking
c

3

In [259]:
print(dir(tp))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

<h1 style="color:Brown"> Sets </h1>

- Sets are a type of collection like lists and tuples, storing mixed data.
- Sets are enclosed within curly brackets and elements are written as comma-separated.
- Sets are unordered
- Sets do not allow duplicates

In [261]:
l = [1,3,2,4,5,5]
print(l)

set_l = set(l)

set_l

[1, 3, 2, 4, 5, 5]

{1, 2, 3, 4, 5}

In [271]:
type(set_l)

set

In [272]:
len(set_l)

5

In [287]:
l[-1]

5

In [288]:
type(l)

list

In [289]:
set_l

{1, 2, 3, 4, 5}

In [290]:
set_l[-1]

TypeError: 'set' object is not subscriptable

In [274]:
a = {1, 2, 3, 4, 5,7,6,}
a

{1, 2, 3, 4, 5, 6, 7}

In [282]:
a.add("Australia") # Mutable or Modofiable
a

{1, 2, 3, 4, 5, 6, 7, 'Australia'}

In [284]:
a.remove("Australia")
a

{1, 2, 3, 4, 5, 6, 7}

In [262]:
Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C', 

          'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D'...]

SyntaxError: invalid syntax (2217791746.py, line 3)

In [267]:
# Let’s say you have a huge list that contains student grades:
# You want to identify distinct grades allotted to students. Obviously, you cannot check every element of this list; instead, we make use of sets which gets our job done here


Grades = ['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C', 

          'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D']

In [265]:
type(Grades)

list

In [266]:
print (Grades)

['A', 'A', 'B', 'C', 'D', 'B', 'B', 'C', 'D', 'E', 'C', 'C', 'A', 'B', 'F', 'D', 'C', 'B', 'C', 'A', 'B', 'F', 'B', 'A', 'E', 'B', 'B', 'C', 'D']

In [268]:

# By using the set function on the grades, you would get the distinct grades in the form of a set:        


set(Grades)
{'A', 'B', 'C', 'D', 'E', 'F'}

{'A', 'B', 'C', 'D', 'E', 'F'}

In [295]:
# Set Opration
A = {0,2,4,6,8}
B = {1,2,3,4,5}
print ( A, B)

{0, 2, 4, 6, 8} {1, 2, 3, 4, 5}

In [297]:
print (A | B) # union
print(A.union(B))

{0, 1, 2, 3, 4, 5, 6, 8}
{0, 1, 2, 3, 4, 5, 6, 8}

In [298]:
print (A & B) # Intersection 
print (A.intersection(B))

{2, 4}
{2, 4}

In [300]:
print (A-B) # Diffrence

{0, 8, 6}

In [302]:
print( A - B) # Diffrence
print (A.difference(B))

{0, 8, 6}
{0, 8, 6}

In [303]:
print ( A ^ B) # Symmetric Diffrence, The Values mighe be there in Set A or Set B. But not Both A & B
# The Example Set A & B  , the value 2 and 4 are there both the set.  Symmetric Diffrence provide output removing these values

{0, 1, 3, 5, 6, 8}

In [304]:
nums = set([1,1,2,3,3,3,4])
print(len(nums))

4

In [305]:
(A.union(B)).difference(A.intersection(B))

{0, 1, 3, 5, 6, 8}

<h1 style="color:Brown"> Dictionaries </h1>

- A dictionary stores element as keys and values pairs.
- The key is like an index, it's is always unique and immutable. 
- The values are the objects that contain information.
- Values are accessed using their keys.
- Each key is followed by a value separated by a colon. 
- The values can be immutable, mutable, and duplicates. 
- Each key and value pair is separated by a comma enclosed inside curly brackets.

In this session, we are going to talk about dictionaries. In Python, we use dictionaries to store key-value pairs.
Here is an example -
Let's take the example of a customer as seen earlier.
Now a customer could have multiple attributes such as 
1. Name
2. Email
3. Userid
4. Address 
5. Phone number

Now each of these attributes would be our key and corresponding we'll have values against each on them

With a dictionary, we can store a bunch of key-value pairs, let us now see have a look at the 'Dictionary' data type in Python

In [306]:
# Cuntry = Key
# Values = Currency

d = {"India": "₹","USA":"$", "French":"Euro"}
d

{'India': '₹', 'USA': '$', 'French': 'Euro'}

In [308]:
print(d["USA"])
print(d["India"])
print(d["French"])

$
₹
Euro

In [309]:
# Replacing the value for a Key in a Dictionary

d["French"] = "€"
print(d["French"])

€

In [310]:
d

{'India': '₹', 'USA': '$', 'French': '€'}

In [311]:
print(d["USA"])
print(d["India"])
print(d["French"])

$
₹
€

In [321]:
# Insert new key value pair into a dictionary
d["Japan"] = "Yen"


d

{'India': '₹', 'USA': '$', 'French': 'Euro', 'Japan': 'Yen'}

In [313]:
# Deleting  new key-value  pair from Dictonlary

del d ["Japan"]
d

{'India': '₹', 'USA': '$', 'French': '€'}

In [314]:
d["Japan"]

KeyError: 'Japan'

In [315]:
d["USA"]

'$'

In [318]:
# Sorting a Dictionary - in Alphabetical order
d
sorted(d)

['French', 'India', 'USA']

In [322]:
d["French"] = "€"
d["japan"] = "YEN"

d

{'India': '₹', 'USA': '$', 'French': '€', 'Japan': 'Yen', 'japan': 'YEN'}

In [326]:
# Extract All Values from Dictionary
d.values()

dict_values(['₹', '$', '€', 'Yen'])

In [327]:
d.values()

dict_values(['₹', '$', '€', 'Yen'])

In [328]:
# Extract the Key from Dictionary
d.keys()

dict_keys(['India', 'USA', 'French', 'Japan'])

In [333]:
#update () Methon 2
d.update({'Japan':'¥'})
d

{'India': '₹', 'USA': '$', 'French': '€', 'Japan': '¥'}

In [334]:
d.keys()

dict_keys(['India', 'USA', 'French', 'Japan'])

In [335]:
d.values()

dict_values(['₹', '$', '€', '¥'])

In [336]:
dd = {}

In [337]:
dd

{}

In [338]:
type(dd)

dict

In [339]:
dd = {'a':1, 'b':2}

In [340]:
type(dd)

dict

In [341]:
dd = dict(a=1, b=2)

In [342]:
dd

{'a': 1, 'b': 2}

In [343]:
del.dd

SyntaxError: invalid syntax (4154918484.py, line 1)

In [344]:
del dd

In [345]:
dd

NameError: name 'dd' is not defined

In [346]:
ds = dict(a=1, b=2)

In [347]:
type(ds)

dict

In [348]:
ds

{'a': 1, 'b': 2}

In [349]:
ds.keys()

dict_keys(['a', 'b'])

In [350]:
del ds
d1 = ('a':1, 'b':2)

SyntaxError: invalid syntax (3030965932.py, line 2)

In [351]:
d1 = {'Python':40, 'R':45}
print(list(d1.keys()))

['Python', 'R']

# Control Structures and Functions
Control structures are the essence of programming; they help computers do what they do best: automate repetitive tasks intelligently. The most common control structures are if-else statements, for and while loops, and list and dictionary comprehensions. This session will cover all these concepts.

### If statements
"IF" statements are imperative in Python and they help us build programs that could make decisions based on a specified condition


*   If I am tired, I'll go to bed

*   If I am hungry, I'll order food

Notice all these applications start with the word 'IF' and that is the first way we are going to control our applications.

And before writing down a code to mimic a decision, let us first look at the relational operators that would help us test or define some kind of relation between two entities.

Relational operators are used to test equality or inequality of a condition and that condition might change based on your preference.

```
Example -
If its raining == True:
  I'll get an umbrella

```

<h2 style = "color:Brown">Relation Operator

#### Double equal to operator

In [11]:
10 == 10

True

<h4 style = "color:Red">Note</h3>

#####' = ' is an assignment operator; it is used to assign value to a variable on the left.

#####'==' is a relational operator; it is used for comparision of equality.

In [15]:
a = 5 # Assigning value to Variable
a

5

In [16]:
a == 5 # Checking if varilable A is eqal to 5 = Relation Operation

True

In [17]:
10 == 5

False

#### Not equal to operator

In [18]:
10 != 5

True

In [19]:
10 > 5

True

In [20]:
10 < 5

False

In [21]:
10 >= 5 # Checking weather 10 is bigger than 5 or Equal to 5. OR Gate Any one value is true the output is True (1)

True

In [22]:
10 <= 5 # Checking weather 10 is smaller than 5 or Equal to 5. OR Gate Any one value is true the output is True (1)

False

<h2 style = "color:Brown">Decision Making

Now let's get back to writing a conditional statement with the 'if' condition

To do that we would write it 'if' followed by an expression

#### Write a program to check value in variable x is less than 99

In [13]:
x = 49
if x < 99 : # The "colon":  1that indicates the start of block creation, The indentation here defines the scope of the if or else statement, Either code under the if block is executed or under the else block is executed, not both of them. 

    # inside the if-Statement
    print(x, " is is less than 99")
else:
    # inside Else statement
    print(x, " is grater than 99")

49  is is less than 99

######
Important things to note here are as follows:

 

The "colon" that indicates the start of block creation, The indentation here defines the scope of the if or else statement, Either code under the if block is executed or under the else block is executed, not both of them. 

 

So now that you have understood the basic if-else construct, can you try to write a code to return YES if x lies in the range of 1000 to 1100, else return NO?

 

If you break this down, you can get the following conditions:

In [24]:
x < 99

True

In [14]:
x = 490
if x < 99 :
    # inside the if-Statement
    print(x, " is is less than 99")
else:
    # inside Else statement
    print(x, " is grater than 99")

490  is grater than 99

In [26]:
x < 99

False

In [15]:
if (X<1000):
    print('No')
else:
    if (X>1100 ):
        print('No')
    else:
        print('Yes')

No

## Logical Operators
We use logical operators in situations where we have multiple conditions

####   AND
####   OR
####   NOR
####   XOR

Are some of the common and most widely used logical operators
You can learn more about them from this link: https://pythonlessons.net/python-logic-gates/

#### Write a program to record the age of visitor and allows him to an exclusive children's day party hosted by Mr Obama only if he or she is above 60 years or below 18 years of age

In [32]:
age = int(input("Enter your Age Please!!"))
if age <= 18 or age >=60:
    print(age,"\n Plesure to have you, Please Welcome to the Party")
else:
    print(age, "\n Sorry !! You are not fit in the age criteria")

32
 Sorry !! You are not fit in the age criteria

#### Write a program which offers "various" discounts based on purchase bills

In [36]:
total_bill = 349

if total_bill >= 500:
    print( "You Won a discount voucher of flat 1000 on next opurchase")
elif total_bill >= 350:
    print( "You Won a discount voucher of flat 500 on next opurchase")
elif total_bill >= 100:
    print( "You Won a discount voucher of flat 99 on next opurchase")
else:
    print( "SORRY!! no discount for you !!! ")

You Won a discount voucher of flat 99 on next opurchase

In [9]:
X = 10
if (X > 1000 & X < 1100):
    print('Yes')
else:
    print('No')
    
print(X)

Yes
10

In [45]:
X > 1000

False

In [46]:
X < 1000

True

In [8]:
#So now that you have understood the basic if-else construct, can you try to write a code to return YES if x lies in the range of 1000 to 1100, else return NO?


if (X<1000):
    print('No')
else:
    if (X>1100 ):
        print('No')
    else:
        print('Yes')
        X

No

In [2]:
# So now that you have understood the basic if-else construct, can you try to write a code to return YES if x lies in the range of 1000 to 1100, else return NO?

X = 99
if (X<1000):
    print('No')
else:
    if (X>1100 ):
        print('No')
    else:
        print('Yes')

No

In [3]:
X

99

In [4]:
X = 12

if (X > 10 and  X < 15):
    print ("YES")
else:
    print ("No")

YES

In [10]:
X > 10

False

In [11]:
X

10

#### Example on nested if-else

In [24]:
world_cups = {2019 : ['England', 'New-Zeland'], 2015:["Australia", "New-Zeland"], 2011 : ["India", "Sri Lanka"], 2007: ["Australia", "Sri Lanka"], 2003: ["Australia", "India"]}

In [7]:
world_cups

{2019: ['England', 'New Zealand'],
 2015: ['Australia', 'New Zealand'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [11]:
world_cups.keys()

dict_keys([2019, 2015, 2011, 2007, 2003])

In [12]:
world_cups.values()

dict_values([['England', 'New Zealand'], ['Australia', 'New Zealand'], ['India', 'Sri Lanka'], ['Australia', 'Sri Lanka'], ['Australia', 'India']])

In [14]:
world_cups[2003]

['Australia', 'India']

In [20]:
year = int(input("Enter the Year to checck if New Zealand made it to the Finals in 20th Centrure : "))

In [21]:
year

2015

In [22]:
world_cups[2015]

['Australia', 'New Zealand']

In [23]:
world_cups

{2019: ['England', 'New Zealand'],
 2015: ['Australia', 'New Zealand'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [25]:
world_cups

{2019: ['England', 'New-Zeland'],
 2015: ['Australia', 'New-Zeland'],
 2011: ['India', 'Sri Lanka'],
 2007: ['Australia', 'Sri Lanka'],
 2003: ['Australia', 'India']}

In [26]:
world_cups[2019]

['England', 'New-Zeland']

In [27]:
world_cups[2015]

['Australia', 'New-Zeland']

In [29]:
if year in world_cups:
    # do some stuff
    if "New-Zeland" in world_cups[year]:
        print("New-Zeland made it ti Finals in the YEAR: ",year)
    else:
        print ("New-Zeland Did NOT Made it to Finals",year)
else:
    print("World Cup was not palyed in", year)

New-Zeland made it ti Finals in the YEAR:  2015

In [30]:
year = int(input("Enter the Year to checck if New Zealand made it to the Finals in 20th Centrure : "))

In [31]:
year

2020

In [32]:
if year in world_cups:
    # do some stuff
    if "New-Zeland" in world_cups[year]:
        print("New-Zeland made it ti Finals in the YEAR: ",year)
    else:
        print ("New-Zeland Did NOT Made it to Finals",year)
else:
    print("World Cup was not palyed in", year)

World Cup was not palyed in 2020

######What is the output of the following code?




X = 12 \

if (X > 10 & X < 15):
print('YES')
else:
print('No')

In [37]:
X = 12

if (X > 10 & X < 15):
print('YES')
else:
print('No')

IndentationError: expected an indented block (1826772815.py, line 4)

###### Maximum of Three Numbers
Complete the piece of code to print a maximum of three variables, a, b and c.

a=10
b=16
c=20

if( # missing part 1 # ):
    print("a")
elif( # missing part 2 #):
    print("b")
else:
     print("c")

In [36]:
a=10
b=16
c=20
if a > b and a > c:
    print(a)
elif b > a and b > c:
    print(b)
else:
    print(c)

20

##### Reverse Engineering

Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

In [47]:
# Given the code below, the output obtained in several runs is 'C' 'A' 'D' 'B'.
score = int(input("Enter the SCORE"))
if score >= 90:
   print('A')
elif score >=80:
   print('B')
elif score >= 70:
   print('C')
elif score >= 60:
   print('D')
else:
   print('F')

B

In [48]:
72,93,67

(72, 93, 67)

In [49]:
if (10 < 0) and (0 < -10):
    print("A")
elif (10 > 0) or False:
    print("B")
else:
    print("C")

B

In [51]:
if True or True:
    if False and True or False:
        print('A')
    elif False and False or True and True:
        print('B')
    else:
        print('C')
else:
    print('D')


    #Feedback:
# T or T will be a T. 
# The code will return the value that satisfies these statements. 
# "A"  will be returned for an F, as (F and T) = F, (F or F) = F. B will be returned for a T, as (F and F) = F, (T and T) = T, (F or T) = T.
    #1 or 1 = 1
    #0 and 1 = 0
    #0 or 0 = 0
    #============
    #0 or 0 = 0
    #1 and 1 = 1
    #0 or 1 = 1

B

<h2 style = "color:Brown">Loops and Iterations

Let’s look at a small example where you have a person’s income and expense data across five months in the form of a list, and you want to compute his savings across these five months. You may be thinking of doing this manually by taking the first elements from the two lists and subtracting them, then again taking the second elements and subtracting, and so on. This may look simple, but let’s say it is across 10 or 20 years. Would you do the same? 

 

This is where the concept of iteration comes in handy, as you are repeating the same operation multiple times. With this in mind, let’s learn more about it.

Let's start with a simple 'While' loop - 
##### A while loop begins with a keyword 'While' followed by an expression 
##### So While this condition is satisfied keep running the loop

In [1]:
# Let's create a pin checker which we generally have in our phones or ATMs
pin = input("Enter your four digit pin: ")
while pin != '1234':
    pin = input('Invalid input, please try again: ')  
print("Pin validation successful.")

Pin validation successful.

In [1]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error

pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin: 11
Invalid input, please try again: 125
Invalid input, please try again: 136

SystemExit: Too many invalid attempts

C:\Users\kumard54\AppData\Local\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3534: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [2]:
# Now if we want to add a maximum number of tries allowed condition we'll use the if loop

import sys    #required for exiting the code and displaying an error

pin = input("Enter your four digit pin: ")
attempt_count = 1
while pin != '1234':
    if attempt_count >= 3:
     sys.exit("Too many invalid attempts")   #error code
    pin = input('Invalid input, please try again: ')  
    attempt_count += 1
print("Pin validation successful.")

Enter your four digit pin: 1122
Invalid input, please try again: 9875
Invalid input, please try again: 1234
Pin validation successful.

### For Loop

In [8]:
# iterate over list of integers

l = [1,3,4,2,5,6]
l

[1, 3, 4, 2, 5, 6]

In [9]:
l = [1,3,4,2,5,6]
for var in l : 
    print(var)

1
3
4
2
5
6

In [14]:
# iterate over a string

string = "Welcome to Bengaluru"
for char in string:
    print(char)

W
e
l
c
o
m
e

t
o

B
e
n
g
a
l
u
r
u

In [15]:
# iterate over a string anc convert to upper case

string = "Welcome to Bengaluru"
for char in string:
    print(char.upper())

W
E
L
C
O
M
E

T
O

B
E
N
G
A
L
U
R
U

In [16]:
# iterate over a string  - modify print using end
string = "Welcome to Bengaluru"
for char in string:
    print(char.upper(),end = ":") #default value of end = "\n"

W:E:L:C:O:M:E: :T:O: :B:E:N:G:A:L:U:R:U:

In [19]:
#simple dictionary
students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
students_data

{1: ['Sam', 24],
 2: ['Rob', 25],
 3: ['Jack', 26],
 4: ['Cornor', 24],
 5: ['Trump', 27]}

In [20]:
# iterating over a dictionary
# for loop can be applied over the dictionaries. 

students_data = {1:['Sam', 24] , 2:['Rob',25], 3:['Jack', 26], 4:['Cornor',24], 5:['Trump',27]}
for key, val in students_data.items():
    print(key,val)

1 ['Sam', 24]
2 ['Rob', 25]
3 ['Jack', 26]
4 ['Cornor', 24]
5 ['Trump', 27]

In [21]:
# iterating only key over a dictionary
for key in students_data.keys():
    print(key)

1
2
3
4
5

In [31]:
#Now that you have learnt about the 'for statement', can you answer our initial question of calculating savings 
#using a person’s income and expenses data? Let’s try this out.


#Assume you have -

# L1 = [10, 20, 30, 24, 18] (in thousands)
# L2 = [8, 14, 15, 20, 10]

# What you were doing manually is subtracting the first element of each list and then the second element, and so on. 
# In other words, it is L1[i] - L2[i].

#Let’s implement the for loop using the list L3:

L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3 = [0, 1, 2, 3, 4]

for j in L3:
    L3[j] = L1[j] - L2[j] #[j] = index value of Arry or list
    print(L3)

[2, 1, 2, 3, 4]
[2, 6, 2, 3, 4]
[2, 6, 15, 3, 4]
[2, 6, 15, 4, 4]
[2, 6, 15, 4, 8]

In [30]:
L3

[2, 6, 15, 4, 8]

In [32]:
L1[j]

18

In [33]:
# Genarating Range values

range(1,7)

range(1, 7)

In [34]:
range

range

In [36]:
l = list(range(1,7))
l

[1, 2, 3, 4, 5, 6]

In [37]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [38]:
for i in range(1,7):
    print(i, end = " ")

1 2 3 4 5 6

In [39]:
# diffrent variations in range

print(list(range(1,100,2))) # gives number from 1 to 100 with a step count of 2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [42]:
print (list(range(100,0, -1))) # gives a reversed sequesnce of number from 100 to 1

[100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

#Complete the Code
#Complete this piece of code for calculating the element-wise difference between two lists and storing them in L3.

[Assume that the lists are of the same length.]

L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for  i in ##1###:
    L3.###2##
L3

In [56]:
L1 = [10, 20, 30, 24, 18]
L2 = [8, 14, 15, 20, 10]
L3=[]
for i in range(len(L1)):
    L3.append(L1[i] - L2[i])
L3

[2, 6, 15, 4, 8]

In [60]:
range(100)

range(0, 100)

In [73]:
l1 = list(range(30))
l1

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

In [75]:
l1 = list(range(1,15))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [76]:
l1 = list(range(1,15,1))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [77]:
l1 = list(range(1,15,2))
l1

[1, 3, 5, 7, 9, 11, 13]

In [78]:
l1 = list(range(15,1,-2))
l1

[15, 13, 11, 9, 7, 5, 3]

In [79]:
l1 = list(range(1,15,1))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]